section{
    padding: 80px 0;
}
.background-image{
    background-image: url('../../../assets/Images/Container\ 45.png');
    background-repeat: no-repeat; 
    background-position: center top;
    background-size: cover;
}
.img-cover{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img-cover2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.logger{
    left: 2%;
    top: 80%;
}
.background-grey{
    background-color: #FAFAFBFF;
}
.log{
    min-height: 45vh;
}
.font-semigrey{
    color:#323842FF;
}
.job-list{
    transition: background-color .5s;
  }
  .job-list:hover{
    background-color: #ECFDFCFF;
    color:#000;
  }
  .job-list:visited{
    background-color: #ECFDFCFF;
  }
  .colored-btn{
    background:  #6D31EDFF;
    color: #fff;
    font-family: "Manrope", sans-serif;
}
@media screen and (max-width:1000px) {
    .background-image{
        background-image: url('../../../assets/Images/Container\ 45.png');
        background-repeat: no-repeat; 
        background-position: center center;
        background-size: cover;
    }
}