section{
    padding: 80px 0;
}
.background-image{
    background-image: url('../../../assets/Images/Container\ 45.png');
    background-repeat: no-repeat; 
    background-position: center top;
    background-size: cover;
}
.img-cover{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    clip-path: circle();
}
.logger{
    left: 25%;
    top: 80%;
}
.background-grey{
    background-color: #FAFAFBFF;
}
.log{
    min-height: 45vh;
}
.font-semigrey{
    color:#323842FF;
}