<section class="background-color">
    <div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="../../../assets/Images/quick.png" class="img-cover" alt="QuickBuck">
        </div>
        <div class="col-md-2 text-white">
            <h3 class="font-sarabun font-size-20 mb-2">Products</h3>
            <ul class="list-unstyled">
                <li class="font-lato font-size-14">All Jobs</li>
                <li class="font-lato font-size-14 my-2">Companies</li>
                <li class="font-lato font-size-14">Candidates</li>
            </ul>
        </div>
        <div class="col-md-2 text-white">
            <h3 class="font-sarabun font-size-20 mb-2">Resources</h3>
            <ul class="list-unstyled">
                <li class="font-lato font-size-14">Blog</li>
                <li class="font-lato font-size-14 my-2">User Guides</li>
                <li class="font-lato font-size-14">Webinars</li>
            </ul>
        </div>
        <div class="col-md-2 text-white">
            <h3 class="font-sarabun font-size-20 mb-2">Company</h3>
            <ul class="list-unstyled">
                <li class="font-lato font-size-14">About</li>
                <li class="font-lato font-size-14 my-2">Join Us</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="font-green font-sarabun font-size-20">Subscribe To Our Newsletter</h3>
            <p class="text-white font-lato font-size-12">For product announcements and exclusive insights</p>
            <div class="d-flex text-white align-items-center gap-2">
                <i class="fas fa-envelope text-white"></i><input type="text" placeholder="Enter Your Email" class="form-control rounded-0 font-lato font-size-14 background-input">
                <button class="background-green btn text-white rounded-start-0 rounded-end">Subscribe</button>
            </div>
        </div>
        <div class="row mt-5">
        <div class="col-md-4 mt-4">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle background-select" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  English
                </button>
                
              </div>
        </div>
        <div class="col-md-4 mt-5 text-white">
            <div class="d-flex gap-2">
            <p class="font-lato font-size-14">© 2024 QuickBuck, Inc.</p>
            <ul class="d-flex gap-4 font-lato font-size-14">
                <li>Privacy</li>
                <li>Terms</li>
                <li>Sitemap</li>
            </ul>
        </div>
        </div>
        <div class="col-md-4 text-white mt-5">
            <ul class="list-unstyled d-flex gap-3">
                <li class=""><i class="fa-brands fa-x-twitter"></i></li>
                <li class=""><i class="fab fa-facebook facebook"></i></li>
                <li class=""><i class="fab fa-instagram insta"></i></li>
                <li class=""><i class="fab fa-youtube youtube"></i></li>
            </ul>
        </div>
    </div>
</div>
</div>
</section>