<div class="container">
    <h1 class="font-sarabun font-size-48 my-4">Search <span class="font-green">Jobs</span></h1>
    @if(JobPosts?.length==0){
 <app-loading></app-loading>
    }@else{
        <ng-template #name>
            <h1>No Posts To Display</h1>
        </ng-template>
    }
   
 <div class="row font-manrope">
        <div class="col-md-4">
            <p class="font-lato fw-bold font-size-16">Search</p>

            <div class="d-flex justify-content-center align-items-center my-3">

                <div class="d-flex align-items-center me-2" (click)="SearchJobPosts()">
                    <i class="fas fa-magnifying-glass"></i> 
                </div>
                    <input type="search" id="SearchBar" class="form-control" placeholder="Search JobPost By Name">
            </div>
            @if (decodedToken?.sub=="JobProvider") {
                <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Create
                    Post</button>
                </div>
                }
            <div class="overflow-auto">
            @for (item of JobPosts; track $index) {
            <div class="p-2 job-list" (click)="ShowPost(item?.id)">
                <div class="d-flex gap-2 p-2">
                    <img [src]="item?.jobProvider?.logo" [alt]="item?.title" class="img-cover">
                    <div class="d-flex flex-column ms-2">
                        <h3 class="font-size-18 font-lato">{{item?.title}}</h3>
                        <p>{{item?.salaryRangeFrom}} - {{item?.salaryRangeTo}}</p>
                    </div>
                </div>
                <div class="ms-3">
                    <p><i class="fa-solid fa-building me-3 font-grey"></i> {{item?.jobProvider?.companyName}}</p>
                    <p><i class="fa-solid fa-location-dot me-3 font-grey"></i> {{item?.location}}</p>
                </div>
            </div>
            }
        </div>
        </div>

        <div class="col-md-8">

            <div class="dropdown">
                <p class="font-lato fw-bold font-size-16">Filter</p>
                <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Order By
                </button>
                <ul class="dropdown-menu">
                  <li (click)="OrderByDesc()"><a class="dropdown-item" value="OrderByDesc">Newest First</a></li>
                  <li (click)="OrderByAsc()"><a class="dropdown-item" value="OrderByAsc">Oldest First</a></li>
                </ul>
              </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-fullscreen ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-12">
                                        <h2 class="font-manrope fw-bold font-size-40">Post A New Job</h2>
                                        <div class="nav d-flex flex-column font-manrope">
                                            <button class="text-decoration-none btn btn-outline-dark w-50 active"
                                                id="v-pills-profile-tab" data-bs-toggle="pill"
                                                data-bs-target="#v-pills-profile">
                                                Job OverView
                                            </button>
                                            <button class="btn btn-outline-dark w-50 mt-2" role="tab" id="Req-tab"
                                                data-bs-toggle="pill" data-bs-target="#Requirments">
                                                Requirements
                                            </button>
                                            <button class="btn btn-outline-dark w-50 my-2" role="tab" id="Skill-tab"
                                                data-bs-toggle="pill" data-bs-target="#Skills">
                                                Required Skills
                                            </button>
                                            <button class="btn btn-outline-dark w-50 mb-2" role="tab" id="Info-tab"
                                                data-bs-toggle="pill" data-bs-target="#JobInfo">
                                                Job Information
                                            </button>
                                        </div>
                                        <div class="w-50">
                                            <img src="../../../assets/Images/Container 8.png" alt="Contain"
                                                class="w-100">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-12">
                                        <form (submit)="CreatePost()" [formGroup]="PostJob">
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="v-pills-profile"
                                                    role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                                                    <p class="font-manrope font-size-18 fw-bold">Job OverView</p>
                                                    <label class="form-label">Job Title</label>
                                                    <input type="text" class="form-control my-2"
                                                        placeholder="Enter Post Title" formControlName="title">
                                                    <label class="form-label">Email</label>
                                                    <input type="text" class="form-control my-2" placeholder="email"
                                                        formControlName="email">
                                                    <label class="form-label">Brief Description About Your
                                                        Company</label>
                                                    <input type="text" class="form-control my-2"
                                                        placeholder="description" formControlName="description">
                                                </div>
                                                <div class="tab-pane fade" id="Skills" role="tabpanel">
                                                    <p class="font-manrope font-size-18 fw-bold">Required Skills</p>
                                                    <label class="form-label">Skill</label>
                                                    <input type="text" class="form-control my-2"
                                                        placeholder="requiredSkills" formControlName="requiredSkills">
                                                    <label class="form-label">Skill 2</label>
                                                    <input type="text" class="form-control my-2"
                                                        placeholder="requiredSkills" formControlName="requiredSkills2">
                                                    <label class="form-label">Skill 3</label>
                                                    <input type="text" class="form-control my-2"
                                                        placeholder="requiredSkills" formControlName="requiredSkills3">
                                                    <label class="form-label">Skill 4</label>
                                                    <input type="text" class="form-control my-2"
                                                        placeholder="requiredSkills" formControlName="requiredSkills4">
                                                </div>
                                                <div class="tab-pane fade" id="Requirments" role="tabpanel"
                                                    tabindex="0">
                                                    <p class="font-manrope font-size-18 fw-bold">Requirments</p>
                                                    <div class="d-flex gap-2 flex-column" id="RequiredSkills">
                                                        <label class="form-label">Requirment</label>
                                                        <input type="text" class="form-control mb-2"
                                                            placeholder="reqName" formControlName="reqName">
                                                        <input type="text" class="form-control mb-2"
                                                            placeholder="reqPriority" formControlName="reqPriority">
                                                        <p class="font-manrope">Requirement 2</p>
                                                        <input type="text" class="form-control mb-2"
                                                            placeholder="reqName" formControlName="reqName2">
                                                        <input type="text" class="form-control mb-2"
                                                            placeholder="reqPriority" formControlName="reqPriority2">
                                                        <p class="font-manrope">Requirement 3</p>
                                                        <input type="text" class="form-control mb-2"
                                                            placeholder="reqName" formControlName="reqName3">
                                                        <input type="text" class="form-control mb-2"
                                                            placeholder="reqPriority" formControlName="reqPriority3">
                                                        <p class="font-manrope">Requirement 4</p>
                                                        <input type="text" class="form-control mb-2"
                                                            placeholder="reqName" formControlName="reqName4">
                                                        <input type="text" class="form-control mb-2"
                                                            placeholder="reqPriority" formControlName="reqPriority4">
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="JobInfo" role="tabpanel" tabindex="0">
                                                    <p class="font-manrope font-size-18 fw-bold">Job Information</p>
                                                    <label class="form-label">Location</label>
                                                    <input type="text" class="form-control my-2" placeholder="location"
                                                        formControlName="location">
                                                    <div class="d-flex gap-2">
                                                        <div>
                                                            <label class="form-label">Salary Range From :</label>
                                                            <input type="number" class="form-control"
                                                                placeholder="salaryRangeFrom"
                                                                formControlName="salaryRangeFrom">
                                                        </div>
                                                        <div>
                                                            <label class="form-label">Salary Range To :</label>
                                                            <input type="number" class="form-control"
                                                                placeholder="salaryRangeTo"
                                                                formControlName="salaryRangeTo">
                                                        </div>
                                                    </div>
                                                    <textarea placeholder="content" class="form-control my-2"
                                                        formControlName="content"></textarea>
                                                    <p class="fw-semibold">Employment Type</p>
                                                    <div class="d-flex gap-2">
                                                        <label for="FullTime">FullTime</label>
                                                        <input type="radio" id="FullTime" value="FullTime"
                                                            class="form-check" formControlName="type">
                                                        <label for="PartTime">PartTime</label>
                                                        <input type="radio" id="PartTime" value="PartTime"
                                                            class="form-check" formControlName="type">
                                                    </div>
                                                    <button class="btn colored-btn mt-2">Submit</button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- JobPost Details -->
            @if(jobPostDetails.length!=0){
                <div class="container">
                <div class="">
                    <div class="background w-100" data-aos="fade-up" data-aos-duration="1000">

                    </div>
                    <div class="d-flex justify-content-between">
                        <h3 class="font-sarabun">{{jobPostDetails?.title}}</h3>
                        <div>
                            @if(decodedToken.sub=="JobSeeker"){
                            <button class="btn btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#Bookmark">Save</button>
                            }
                            @if (decodedToken.sub=="JobSeeker") {
                                <button class="btn background-btn text-white ms-2" data-bs-toggle="modal" data-bs-target="#JobApp">Apply Now</button>

                            }
                        </div>
                        <!-- Modal To Enter bookmark's title  -->
                        <div class="modal fade" id="Bookmark" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  <form (submit)="bookMark(jobPostDetails.id)" [formGroup]="PostJobPostTitle">
                                    <label class="form-label">Enter Bookmark Name</label>
                                    <input type="text" class="form-control" formControlName="Title">
                                    <button class="btn colored-btn my-2" type="submit">Save</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div> 
                        <!--  -->
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="font-size-18 font-lato">{{jobPostDetails.salaryRangeFrom|currency:"EGP"}}-{{jobPostDetails.salaryRangeTo|currency:"EGP"}}</p>
                        <p>Posted {{currentDate}} Ago</p>
                    </div>
                </div>
                <div>
                    <div>
                        <i class="fas fa-house me-1"></i>
                        <span class="font-lato fw-light">{{jobPostDetails.location}}</span>
                    </div>
                </div>
                <div class="mt-1">
                    <button class="btn type-btn rounded-0">{{jobPostDetails.type}}</button>
                </div>
                <div class="mt-4 border p-2" data-aos="zoom-in" data-aos-duration="1000">
                    <h3 class="font-size-16">Contact Recruiter</h3>
                    <div class="d-flex justify-content-between">
                    <div>
                        <div class="d-flex gap-2 align-items-center">
                            <p>{{jobPostDetails.jobProvider.companyName}}</p>
                            <p class="rounded back-orange p-1 font-orange font-sarabun">Job Poster</p>
                        </div>
                        <span class="font-lato font-size-16 font-grey">{{jobPostDetails.jobProvider.category}}</span>
                    </div>
                    <div>
                        @if (decodedToken.sub=="JobSeeker") {
                        <button class="font-green btn" (click)="openMessage(jobPostDetails?.jobProvider?.id)"><i class="fas fa-envelope font-green"></i> Message</button>
                        }
                    </div>
                        
                    
                    <!-- Job App Modal -->
                    <div class="modal fade" id="JobApp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form (submit)="CreateJobApplication(jobPostDetails?.id)" [formGroup]="PostApplication">
                                    <label class="form-label">Upload CV</label>
                                    <input type="file" class="form-control" (change)="handleCV($event)">
                                    <label class="form-label">Status</label>
                                    <input type="text" class="form-control">
                                    <label class="form-label">Upload Cover Letter</label>
                                    <input type="file" class="form-control" (change)="handleCoverLetter($event)">
                                    <button type="submit" class="btn btn-outline-info mt-2">Upload Application</button>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                @if (decodedToken.sub=="JobProvider") {
                <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Show Job Applications
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        @for (item of jobPostDetails.jobApplications; track $index) {
                            @if (JobProviderCheck.id==item.jobProviderId) {
                            <div class="card">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <button class="btn background-btn text-white" data-bs-toggle="offcanvas" href="#offcanvasExample" (click)="showUser(item.jobSeekerId)">Show User Info</button>
                                    <a [href]="item.cv">OpenCv</a>
                                </div>
                            </div>
                        }
                    }
                    
                </div>
                      </div>
                    </div>
                  </div>
                }
                  
               <!-- OffCanvas To show user info -->
               <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">User Info</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="position-relative z-3 overflow-hidden">
                        <img src="../../../assets/Images/Rectangle 7.png" class="position-absolute shape z-n1" alt="">
                    <div class="rounded p-2 border">
                    <div class="d-flex justify-content-center">
                        <img [src]="ApplicantsInfo?.photo" class="img-cover rounded-circle" [alt]="ApplicantsInfo?.userName">
                    </div>
                    <div class=" d-flex align-items-center flex-column my-3 border-bottom py-3">
                        <h1 class="font-lato font-size-20 fw-semibold font-green">{{ApplicantsInfo?.userFName}} {{ApplicantsInfo?.userLName}}</h1>
                        <p class="font-lato font-size-14 font-faint fw-normal">{{ApplicantsInfo?.status}}</p>
                        <div class="d-flex">
                            @for (item of ApplicantsInfo?.skills; track $index) {
                            <button class="btn btn-background-grey font-lato">{{item?.name}}</button>
                            }
                        </div>
                        
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <p>Profile Link</p>
                        @if (ApplicantsInfo?.length!=0) {
                            @if (decodedToken.sub=="JobProvider") {
                              <button class="font-green btn" (click)="openMessageTO()"><i class="fas fa-envelope font-green"></i> Message</button>
                              }
                              }                    </div>
                </div>    
                    
                    
                </div>
              </div>
               </div>
             <!--  -->
                </div>
                <div class="mt-2">
                    <h2 class="fw-bold font-lato font-size-16" >Job Description</h2>
                    <p class="font-size-16 font-lato font-grey" data-aos="fade-up" data-aos-duration="1000">{{jobPostDetails.description}}</p>
                  </div>
                  <div>
                    <h2 class="fw-bold font-lato font-size-16">Responsibilities</h2>
                    <ul class="list list-unstyled">
                        @for (item of jobPostDetails.requirements; track $index) 
                        {
                            <li data-aos="fade-up" data-aos-duration="1000"><i class="fa-regular fa-circle-check check"></i> {{item.reqName}}</li>
                        }
                    </ul>
                  </div>
                  <div class="p-5 background-grey" data-aos="zoom-out" data-aos-duration="1000">
                    <!-- company info -->
                    <div class="d-flex justify-content-between">
                        <h3 class="font-size-16 fw-semibold font-lato">About Company</h3>
                        <a class="font-size-14 font-lato text-decoration-none font-green" [routerLink]="'/CompanyProfile/'+jobPostDetails.jobProvider.id" >View Company Profile</a>
                    </div>
                    <div class="d-flex gap-2 align-items-center my-3">
                        <img [src]="jobPostDetails.jobProvider.logo" onerror="this.src='../../../assets/Images/PlaceHolder.jpg'" [alt]="jobPostDetails.companyName" class="img-cover">
                        <p class="font-sarabun font-size-18">{{jobPostDetails.jobProvider.companyName}}</p>
                    </div>
                    <p class="font-size-16 font-lato fw-normal">{{jobPostDetails.jobProvider.description}}</p>
                    <div>
                        <div class="row gy-4 font-grey font-lato font-size-16">
                            <div class="col-md-6">
                                <i class="fa-solid fa-building"></i> {{jobPostDetails.jobProvider.category}}
                            </div>
                            <div class="col-md-6">
                                <i class="fa-solid fa-user"></i> {{jobPostDetails.jobProvider.noOfEmployees}} employees
                            </div>
                            <div class="col-md-6">
                                <i class="fa-solid fa-location-dot"></i> {{jobPostDetails.jobProvider.location}}
                            </div>
                            <div class="col-md-6">
                                <i class="fa-solid fa-calendar"></i> Mon - Fri
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
               
            <!-- <div class="card text-center">
                <div class="card-header">
                    
                    {{jobPostDetails.title}}
                </div>
                <div class="card-body">
                    <div class="text-start">
                        <p>Company Name : {{jobPostDetails?.jobProvider?.companyName}}</p>
                        <p class="fw-light fs-6">Company Category : {{jobPostDetails?.jobProvider?.category}}</p>
                        <p>Job Location : {{jobPostDetails.location}}</p>
                        <p>Salary : {{jobPostDetails?.salaryRangeFrom|currency:"EGP"}} to
                            {{jobPostDetails?.salaryRangeTo|currency:"EGP"}}</p>
                    </div>
                    <h5 class="card-title">{{jobPostDetails.content}}</h5>
                    <h5 class="text-start">Required Skills</h5>
                    <div class="d-flex gap-2">
                        @for (skill of jobPostDetails.requiredSkills; track $index)
                        {
                        <p class="card-text">
                            {{skill.name}}
                        </p>
                        }
                    </div>
                    <a href="#" class="btn btn-primary">Apply</a>
                </div>
                <div class="card-footer text-body-secondary">
                    {{jobPostDetails?.date?.split("T")[0]}}
                </div>
            </div> -->
        }
        </div>
    </div>
</div>