<div class="container">
    <h1>Search <span class="font-green">Candidates</span></h1>
    <div>
        <div class="d-flex flex-column w-25">
            <label class="form-label">Search</label>
            <div class="d-flex">
                <input type="search" class="form-control" id="SearchInput" placeholder="Search By Seeker's Name">
                <button class="btn btn-outline-dark" type="submit" (click)="onEnter()"><i
                        class="fas fa-magnifying-glass"></i></button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-8">
                @for (item of Candidates; track $index)
                {
                <div class="d-flex gap-2 justify-content-between border my-4 p-3">
                    <div class="d-flex gap-2">
                    <img [src]="item?.photo" class="img-cover" [alt]="item?.userFName+item?.userLName">
                    <div class="d-flex flex-column">
                        <h3 class="font-sarabun font-size-18">{{item?.userFName}} {{item?.userLName}}</h3>
                        <div>
                            <p class="font-lato font-size-12 fw-normal">{{item?.address?.country}}</p>
                        </div>
                        <div class="d-flex gap-2">
                            @for (item2 of item.skills; track $index) 
                            {
                                <div class="btn"><span class="font-lato font-size-12">{{item2?.name}}</span></div>
                            }
                        </div>
                    </div>
                   
                </div>
                <div>
                    <button class="btn background-btn text-white" (click)="openMessageTO(item?.id)">Message</button>
                </div>
                </div>
                }
            </div>
            <div class="col-md-4">
                <img src="../../../assets/Images/Container 61.png" class="w-100" alt="Contain">
            </div>
        </div>
    </div>
</div>