<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/Images/last.svg" class="img-cover2" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="LandingPage" routerLinkActive="green">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="Home"  routerLinkActive="green">All Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer"  routerLinkActive="green" routerLink="Companies">Companies</a>
      </li>
    @if(TokenService?.sub=="JobProvider"){
      <li class="nav-item">
        <a class="nav-link pointer"  routerLinkActive="green" routerLink="Candidates">People</a>
      </li>
      }
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center gap-2">
        @if(Token==null){
        <li class="nav-item">
          <a class="nav-link" routerLink="Register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Login">Login</a>
        </li>
      }@else(){
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="OpenLatestMessages()">
              <i class="fa-regular fa-message"></i>
            </button>
            <ul class="dropdown-menu p-3">
              @for (item of Messages; track $index) {
                @if(TokenService?.sub=="JobSeeker"){
              <li class="dropdown-item" (click)="openMessage(item?.jobProvider?.id)">
                  <div class="d-flex gap-2">
                    <div>
                      <img [src]="item?.jobProvider?.logo" class="img-cover" alt="">
                    </div>
                    <div class="d-flex flex-column font-lato justify-content-center">
                      <p class="font-size-16 fw-bold">{{item?.jobProvider?.companyName}}</p>
                      <p class="fw-normal font-size-14">{{item?.content}}</p>
                      <p class="fw-light font-size-12">{{item?.dateTime?.split('T')[1]?.split('.')[0]}}</p>
                    </div>
                  </div>
                </li>
              }@else if(TokenService?.sub=="JobProvider"){
                <li class="dropdown-item" (click)="openMessageTO(item?.jobSeeker?.id)">
                  <div class="d-flex gap-2">
                    <div>
                      <img [src]="item?.jobSeeker?.photo" class="img-cover" alt="">
                    </div>
                    <div class="d-flex flex-column font-lato justify-content-center">
                      <p class="font-size-16 fw-bold">{{item?.jobSeeker?.userName}}</p>
                      <p class="fw-normal font-size-14">{{item?.content}}</p>
                      <p class="fw-light font-size-12">{{item?.dateTime?.split('T')[1]?.split('.')[0]}}</p>
                    </div>
                  </div>
                </li>
              }
                }
            </ul>
          </div>
        </li>
        @if(TokenService?.sub=="JobSeeker"){
          <li class="nav-item" (click)="openBookmarks(Id)" data-bs-toggle="dropdown" data-bs-target="#Koi">
            <div class="dropdown">
              <i class="btn  fa-regular fa-bookmark dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                
              </i>
              <ul class="dropdown-menu">
                @for (item of BookMarks; track $index) {
                <li class="dropdown-item" (click)="openBookmarkPage(item?.jobPost?.id)">
                  <p class="font-lato font-size-16">{{item?.jobPost?.title}}</p>
                  <div class="d-flex gap-2">

                  </div>
                </li>
              }
              </ul>
            </div>
          </li>
        <a class="" [routerLink]="'UserProfile/'+Id">
          <img [src]="UserInfo?.photo" class="img-cover" onerror="this.src='assets/Images/PlaceHolder.jpg'" [alt]="UserInfo?.userName">
        </a>
        @if(UserInfo?.premium==false){
        <button class="btn btn-outline-dark mx-2" data-bs-toggle="modal" data-bs-target="#SubSeeker">Upgrade To Premium</button>
        }@else {
          <h3 class="mx-2 font-lato font-size-20 fw-normal text-warning"><i class="fa-solid fa-id-badge"></i></h3>
        }
      }
      @else if(TokenService?.sub=="JobProvider") {
        <a class="" [routerLink]="'CompanyProfile/'+Id">
          <img [src]="UserInfo?.logo"  class="img-cover" onerror="this.src='assets/Images/PlaceHolder.jpg'" [alt]="UserInfo?.companyName">
          
        </a>
        @if(UserInfo?.premium==false){
        <button class="btn btn-outline-dark mx-2" data-bs-toggle="modal" data-bs-target="#SubProvider">Upgrade To Premium</button>
        }@else {
          <h3 class="mx-2 font-lato font-size-20 fw-normal text-warning"><i class="fa-solid fa-id-badge"></i></h3>
        }
      }
        <li class="nav-item mt-3" (click)="signOut()">
          <p class="nav-link pointer">SignOut</p>
        </li>
      }
     
      </ul>
    </div>
  </div>
  <!--Subscription Modal -->
  <div class="modal fade" id="SubProvider" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Subscription Models</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <!-- Card1 -->
            <div class="card w-50">
              <div class="card-body">
                <h5 class="card-title font-sarabun font-size-40 text-center fw-light">Premium Recruitment</h5>
                <ul class="list-unstyled font-lato font-size-14">
                  <li><i class="fa-regular fa-circle-check check font-green"></i> Dedicated Human Account Managers For Personalized Recruitment Assistance</li>
                  <li><i class="fa-regular fa-circle-check check font-green my-2"></i> Mangement of Internship Programs and Recruitment Campaigns</li>
                </ul>
                <div class="d-flex flex-column align-items-center">
                  <p class="font-lato fw-light font-size-20">EGP2000</p>
                  <p class="font-lato font-size-12">Per Month</p>
                  <button mat-raised-button class="bg-primary text-white" (click)="PayForCharge(2000)" data-bs-dismiss="modal">Subscribe</button>
                </div>
              </div>
            </div>
            </div>
             <!--  -->
        </div>
       
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Sub Modal For Seeker -->
  <div class="modal fade" id="SubSeeker" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Subscription Models</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-around gap-3">
            <!-- Card1 -->
            <div class="card w-50">
              <div class="card-body">
                <h5 class="card-title font-sarabun font-size-40 text-center fw-light">Personalized Support</h5>
                <ul class="list-unstyled font-lato font-size-14">
                  <li><i class="fa-regular fa-circle-check check font-green"></i> Dedicated Career Advisors or Account Managers Offering Personalized Guidance and Support Throught The Job Search Process</li>
                  <li><i class="fa-regular fa-circle-check check font-green my-2"></i> Monthly Zoom Meetings Covering Resume Building, Interview Prepartion and Career Advancement Strategies</li>
                  <li><i class="fa-regular fa-circle-check check font-green"></i> Exclusive Access To Premium Internship Opportunities That Align With Career Goals</li>
                  <li><i class="fa-regular fa-circle-check check font-green my-2"></i> Guidance For Applying and Securing Internships in Competitive Fields</li>
                </ul>
                <div class="d-flex flex-column align-items-center">
                  <p class="font-lato fw-light font-size-20">EGP80</p>
                  <p class="font-lato font-size-12">Per Month</p>
                  <button mat-raised-button class="bg-primary text-white" (click)="PayForCharge(80)" data-bs-dismiss="modal">Subscribe</button>
                </div>
              </div>
            </div>
            
            </div>
             <!--  -->
        </div>
       
      </div>
    </div>
  </div>
  <!--  -->
</nav>
<section>
 <router-outlet></router-outlet>
</section>
<app-footer></app-footer>