<div class="container">
    <div class="pad">
        <h1 class="font-size-48  font-sarabun text-center">
            <span data-aos="zoom-out" data-aos-duration="1000">
                About
            </span>
            <span class="font-green" data-aos="zoom-in" data-aos-duration="1000"> Us
            </span>
        </h1>
        </div>
   
    <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center" data-aos="zoom-in-up" data-aos-duration="1000">
       
        <div class="w-50">
            <h2 class="fw-bold font-lato" data-aos="zoom-in-up" data-aos-duration="1000">
                Who Are We?
            </h2>
            <p class="fw-normal font-size-16 font-lato">Specialized hiring platform for college students and fresh graduates
                in Egypt
                Brief Description of the Business Idea: QuickBuck is an innovative online platform dedicated to connecting
                college students and fresh graduates in Egypt with relevant entry-level job opportunities. Unlike
                traditional job portals, QuickBuck is tailored specifically for young job seekers at the start of their
                careers, ensuring they are not overshadowed by more experienced candidates. The platform provides a
                dedicated space where companies can efficiently find and recruit entry-level talent and interns, thereby
                streamlining the hiring process and improving employment outcomes for students and fresh graduates.
            </p>
        </div>
        <div data-aos="zoom-out" data-aos-duration="1000">
            <img src="assets/Images/last.svg" class="img-cover" alt="QuickBuck"> 
        </div>
    </div>

    <div class="d-flex justify-content-between pad2" data-aos="zoom-in" data-aos-duration="1000">
        
        <div>
            <h2 class="fw-bold font-lato py-2">Our Location</h2>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13811.138816595145!2d31.220952!3d30.0717052!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145840fc5cf0dcfb%3A0x5c8b8a3b52b6bcbc!2sFaculty%20of%20Commerce%20and%20Business%20Administration%20Helwan%20University!5e0!3m2!1sen!2seg!4v1719146971091!5m2!1sen!2seg" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
   
</div>