<section class="container shadow-lg">
    <div class="row">
    <form (submit)="handleLogin()" [formGroup]="Login" class="col-md-8">
        <input type="text" class="form-control my-2 w-75 ms-5" formControlName="email" placeholder="Email">
        <input type="password" class="form-control my-2 ms-5 w-75" formControlName="password" placeholder="Password">
    <button class="btn btn-success ms-5">Login</button>
    </form>
    <div class="col-md-4">
        <img src="../../../assets/Images/signin-image.jpg" alt="SignIn">
    </div>
</div>
</section>