.background-msg{
    background-color: #ECFDFCFF;
}
.background-btn{
    background-color: #0EA89BFF;
    color: #fff;
}

.img-cover{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img-cover2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
i{
    color: #0EA89BFF;
}
.left-message {
    text-align: left;
    background-color: #ECFDFC; /* Light blue for JobSeeker messages */
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    max-width: 70%;
  }
  
  .right-message {
    text-align: right;
    background-color: #F2F2F2; /* Light grey for JobProvider messages */
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    max-width: 70%;
  }
  .list-of-conversations{
    transition: background-color .5s;
  }
  .list-of-conversations:hover{
    background-color: #ECFDFC80;
  }
  #MessageWindow{
    height: 50vh;
    overflow: auto;
  }