@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.font-size-18{
    font-size: 18px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-48{
    font-size: 48px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-32{
    font-size: 32px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-20{
    font-size: 20px;
}
.font-grey{
    color:#6E7787FF;
}
.font-green{
    color:#0EA89BFF;
}
.back-orange{
    background-color: #FFF6F0FF;
}
.font-orange{
    color: #FF832BFF;
}
.font-manrope{
    font-family: "Manrope", sans-serif;
}
.font-sarabun{
    font-family: "Sarabun", sans-serif;
}
.font-lato{
    font-family: "Lato", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
